# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db

*claude*
AGENTS.md

# Python
__pycache__/
*.pyc
.venv/
*.egg-info/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.idea/
.coverage
.coverage.*
coverage.json
htmlcov/

data/**/construction=*_shuffle[0-9][0-9][0-9][0-9]/
.git-rewritten/
